* {
  margin: 0;
  box-sizing: border-box;
}

.logo {
  cursor: pointer;
}

/* .featured {
  background-color: red;
  border-radius: 20px;
} */

/* #featured-wrapper {
  display: flex;
  flex-wrap: wrap;
} */

/* #featured {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  width: 500px;
  cursor: pointer;
} */

/* .jumbotron {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  width: 500px;
  height: 282px;
} */

.movie-list-wrapper {
  margin-top: 120px;
}

.show-movie__movie-player-wrapper {
  position: relative;
  height: 500px;
}

.show-movie__add-blocker-message-wrapper {
  position: absolute;
}

.show-movie__movie-stream-wrapper {
  position: relative;
  background-color: #fff;
}

.show-movie__movie-stream-wrapper>iframe {
  -webkit-box-shadow: inset 0px 0px 15px 2px rgba(242, 242, 242, 1);
  -moz-box-shadow: inset 0px 0px 15px 2px rgba(242, 242, 242, 1);
  box-shadow: inset 0px 0px 15px 2px rgba(242, 242, 242, 1);
}

.show-movie__details-wrapper {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  background-color: #fff;
  padding: 40px 40px 30px;
}

.show-movie__poster-wrapper {
  /* width: 300px; */
  /* justify-self: start; */
}

.show-movie__poster {
  height: 200px;
  object-fit: contain;
}

.show-movie__info {
  flex: 1;
  padding: 0px 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.show-movie__info p {
  padding: 10px 50px 10px 0;
}

.show-movie__video-info {
  list-style: none;
  padding: 0;
  margin: 0;
}

.show-movie__add-blocker-message-wrapper {
  position: relative;
}

.show-movie__add-blocker-message-wrapper>div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0%);
}

.show-movie__add-blocker-message-wrapper>div>h4 {
  text-align: center;
  margin-bottom: 25px;
}

.show-movie__add-blocker-message-wrapper>div>img {
  display: block;
  margin: 0 auto;
}

.show-movie__video-genres {
  margin-top: 10px;
}

.show-movie__video-genres>div:not(:last-child) {
  margin-right: 10px;
}

@media only screen and (min-width: 1101px) {
  .jumbotron {
    width: 300px;
    flex-grow: 1;
  }
}

@media only screen and (max-width: 1101px) {
  .show-movie__details-wrapper {
    flex-direction: column;
    align-content: center;
  }

  .show-movie__info {
    padding: 0px;
  }

  .show-movie__info h5 {
    text-align: center;
    padding: 15px 0;
  }

  .show-movie__info p {
    text-align: center;
    padding: 0;
  }

  .show-movie__poster-wrapper {
    display: flex;
    justify-content: center;
  }

  .show-movie__video-info {
    padding: 25px 0;
  }

  .show-movie__video-info>li:last-child {
    padding-top: 12px;
  }
}